.persons {
  background-color: burlywood;
  color: antiquewhite;
  font-size: 18px;
  margin: 20px auto;
  border: slategray 2px solid;
  border-left: none;
  border-right: none;
}

.person_name {
  font-size: 20px;
  color: beige;
  text-transform: uppercase;
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}